body {
    margin: 0;
    background: radial-gradient( rgb(152, 207, 195), rgb(86, 181, 184));
    height: 100vh;
    padding-top: 10%;

}

.calculator {
    display: block;
    width: 210px;
    height: 280px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2);    
    background: white;
    border-radius: 4px;
}

#calc-display {
    background: #f7f7f7;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    text-align: right;
    padding-right: 5px;
}

.button-panel {
    display: grid;
    margin-top: 10px;
    justify-content: center;
    grid-template-rows: 40px 40px 40px 40px 40px;
    grid-template-columns: 40px 40px 40px 40px;
    row-gap: 4px;
    column-gap: 5px;
}

.button-panel input {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.button-panel #result {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    height: 84px ;
}

.button-panel .op-multiply {
    height: 84px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
}

.button-panel #calc-0 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 85px;
}

p {
    display: inline-block;
    margin-top: 14px;   
}

#active {
    background-color: red;
}

